html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ea504c;
}

p {
  color: white;
  font-size: 16px;
  text-align: left;
}

.titel-fonts {
  font-family: 'Modak', cursive;
  font-weight: normal;
  font-size: 2em;
  line-height: 110px;
  text-shadow: 0px 10px 20px #9c3e3b;
  /* margin-left: 10em; */
}

/* div {
  margin-left: 100px;
  margin-top: 70px;
} */

.spalte {
 max-width: 30em;
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 /* background-color: #f6e7b9;
 border-style: solid;
 border-color: #f6e7b9;
 border-width: 1px 100px 4px 100px; */
}

.spalte-text {
 max-width: 50%;
 width: 100%;
 line-height: 25px;
 margin-left: auto;
 margin-right: 3em;
}

.tiefergelegt {
  padding-top: 8em;
}

.spalte-intro {
 width: 85em;
 font-size: 20px;
 line-height: 1em;
 /* text-shadow: 2px 2px 5px #9c3e3b; */
 margin-left: 4em;
}

/*.spalte {
  width: 68rem;
  margin: 0 auto;
  background-color: green;
} */

.spalte img {
 width: 100%;
 height: 100%;
}

.spalte2 img {
  width: 100%;
  height: 100%;
}

.spalte3 img {
  max-width: 20px;
  max-height: 20px;
}

/* .header {
  background-color: yellow;
} */

.big {
  font-size: 4em;
  color: #40c5a3;
}

/* .small-picture {
  width: auto;
  height: 200px;
} */

.bg {
  background-color: red;
}

.zitat {
  font-family: 'Modak', normal;
  font-weight: normal;
  color: #40c5a3;
  font-size: 5em;
  line-height: 90px;
  text-shadow: 0px 0px 10px #9c3e3b;
  text-align: center;
  max-width: 100%;
}

.ausrichtung-links {
display: flex;
justify-content: center;
align-items: center;
}

.ausrichtung-rechts {
display: flex;
justify-content: center;
align-items: center;
}

.auszeichnung {
  font-weight: bold;
  color: white
}

.pond {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rupaul figcaption {
    width: 100%;
    display: block;
}

@media (min-width: 480px) {
    .rupaul {
        position: relative;
        width: auto; height: absolute;
    }
    /*.rupaul div {
        position: absolute;
    } */
    .rupaul figcaption {
        position: absolute;
        bottom: 10em;
    }
}
